@font-face {
    font-family: "CoFo Sans";
    src: url(/fonts/CoFoSans-Regular.woff2) format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: "CoFo Sans";
    src: url(/fonts/CoFoSans-Medium.woff2) format("woff2");
    font-weight: 500;
}
:root {
    --blue: #007bfb;
    --black: #282d3c;
    --white: #ffffff;
    --light-grey: #e8e8ef;
    --grey: #f4f6fb;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    font-family: "CoFo Sans", sans-serif;
    color: var(--black);
}
.wrapper {
    min-height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 1 auto;
}
.btn.btn-outline-primary {
    --bs-btn-padding-x: 1rem;
    --bs-btn-padding-y: 0.625rem;
    --bs-btn-font-size: 1rem;
}
.btn-outline-primary {
    --bs-btn-color: var(--blue);
    --bs-btn-border-color: var(--blue);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--blue);
    --bs-btn-hover-border-color: var(--blue);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--blue);
    --bs-btn-active-border-color: var(--blue);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--blue);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--blue);
    --bs-gradient: none;
}
.btn.btn-primary {
    --bs-btn-padding-x: 2rem;
    --bs-btn-padding-y: 0.75rem;
    --bs-btn-font-size: 0.875rem;
}
.btn-primary {
    --bs-btn-bg: var(--blue);
    --bs-btn-border-color: var(--blue);
    --bs-btn-hover-bg: var(--blue);
    --bs-btn-hover-border-color: var(--blue);
    --bs-btn-active-bg: var(--blue);
    --bs-btn-active-border-color: var(--blue);
    --bs-btn-disabled-bg: var(--blue);
    --bs-btn-disabled-border-color: var(--blue);
}
.btn-light {
    --bs-btn-color: var(--black);
    --bs-btn-bg: var(--white);
    --bs-btn-border-color: #e8e8ef;
    --bs-btn-hover-color: var(--white);
    --bs-btn-hover-bg: var(--blue);
    --bs-btn-hover-border-color: #e8e8ef;
    --bs-btn-focus-shadow-rgb: 211, 212, 213;
    --bs-btn-active-color: var(--black);
    --bs-btn-active-bg: #c6c7c8;
    --bs-btn-active-border-color: #babbbc;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--black);
    --bs-btn-disabled-bg: #f8f9fa;
    --bs-btn-disabled-border-color: #f8f9fa;
}
.btn:hover.btn-primary {
    color: var(--blue);
    background-color: transparent;
    border-color: var(--blue);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.tooltip-inner {
    max-width: 25rem;
    text-align: start;
}
.header {
    &__main {
        padding: 31.5px 0 32.5px;
        margin: 0 0 20px 0;
        border-bottom: 1px solid var(--light-grey);
    }
    &__btn:hover .header__btn-svg {
        fill: var(--white);
    }
    &__btn-svg {
        fill: var(--blue);
        width: 0.875rem;
        height: 1rem;
        margin-right: 10px;
        @media screen and (max-width: 575px) {
            margin-right: 0;
        }
    }
}
.hero {
    &__main {
        background: no-repeat url(/img/hero.png), var(--grey);
        background-size: contain;
        background-position: top right;
        min-height: 140px;
    }
    &__body {
        padding: 50px 0 50px 48px;
        @media screen and (max-width: 575px) {
            padding: 15px 0 15px 28px;
        }
    }
    &__info {
        display: inline-block;
        font-size: 0.875rem;
        line-height: 1.125rem;
        padding: 0.125rem 0.75rem;
        background: #d6fcc3;
        margin-bottom: 1.25rem;
        border-radius: 0.1875rem;
        -webkit-border-radius: 0.1875rem;
        -moz-border-radius: 0.1875rem;
        -ms-border-radius: 0.1875rem;
        -o-border-radius: 0.1875rem;
        @media screen and (max-width: 991px) {
            margin-bottom: 0.75rem;
        }
        @media screen and (max-width: 575px) {
            font-size: 0.75rem;
            line-height: 1rem;
        }
    }
    &__title {
        font-weight: 500;
        font-size: 3rem;
        line-height: 3.5rem;
        margin-bottom: 1.875rem;
        @media screen and (max-width: 991px) {
            width: 40%;
            font-size: 2.625rem;
            line-height: 3.125rem;
            margin-bottom: 9.875rem;
        }
        @media screen and (max-width: 767px) {
            margin-bottom: 1.875rem;
        }
        @media screen and (max-width: 575px) {
            font-size: 1.625rem;
            line-height: 1.75rem;
            margin-bottom: 0;
        }
    }
    &__subtitle {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.5rem;
        margin-bottom: 4.375rem;
        color: #8c94a8;
        @media screen and (max-width: 991px) {
            margin-bottom: 1rem;
        }
        @media screen and (max-width: 575px) {
            font-size: 1rem;
            line-height: 1.25rem;
        }
    }
    &__wrapper {
        background: var(--grey);
        padding: 1.25rem 0.75rem 1.875rem;
    }
}

.cases {
    padding: 70px 0;
    @media screen and (max-width: 575px) {
        padding: 30px 0;
    }
    &__title {
        font-weight: 500;
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 3.125rem;
        @media screen and (max-width: 575px) {
            font-size: 1.5rem;
            line-height: 1.75rem;
            margin-bottom: 1.25rem;
        }
    }
    &__subtitle {
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.25rem;
        color: #282d3c;
        margin-bottom: 1.875rem;
        @media screen and (max-width: 575px) {
            font-size: 1.25rem;
            line-height: 1.5rem;
            margin-bottom: 0.625rem;
        }
    }
    &__subtitle-sm {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.75rem;
        color: #282d3c;
        margin-bottom: 1.875rem;
        @media screen and (max-width: 575px) {
            font-size: 1.125rem;
            line-height: 1.375rem;
        }
    }
    &__text {
        font-size: 1rem;
        line-height: 1.25rem;
        color: #8c94a8;
    }
    &__link {
        color: var(--blue);
        text-decoration: none;
    }
    &__link:hover {
        color: var(--blue);
        text-decoration: underline;
    }
    &__percent-svg {
        width: 3rem;
        height: 2.875rem;
        margin: 0 1.875rem 0 0;
    }
    &__training-svg {
        width: 3.75rem;
        height: 3rem;
        margin: 0 1.875rem 0 0;
        @media screen and (max-width: 575px) {
            margin: 0 1.875rem 0.9375rem 0;
        }
    }
    &__contribution-svg {
        width: 3rem;
        height: 3rem;
        margin: 0 1.875rem 0 0;
    }
    &__main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        // grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 2rem 1.875rem;
        grid-auto-flow: row;
        grid-template-areas:
            "first first first first first second second second second second second second"
            "first first first first first second second second second second second second"
            "first first first first first third third third third fourth fourth fourth"
            "first first first first first third third third third fourth fourth fourth"
            "first first first first first third third third third fourth fourth fourth"
            "fifth fifth fifth fifth fifth fifth fifth sixth sixth sixth sixth sixth"
            "fifth fifth fifth fifth fifth fifth fifth sixth sixth sixth sixth sixth"
            "seventh seventh seventh seventh eighth eighth eighth eighth eighth eighth eighth eighth"
            "seventh seventh seventh seventh eighth eighth eighth eighth eighth eighth eighth eighth";
        @media screen and (max-width: 1400px) {
            grid-template-areas:
                "first first first first first second second second second second second second"
                "first first first first first second second second second second second second"
                "first first first first first third third third third third third third"
                "first first first first first third third third third third third third"
                "first first first first first third third third third third third third"
                "fourth fourth fourth fourth fifth fifth fifth fifth fifth fifth fifth fifth"
                "fourth fourth fourth fourth fifth fifth fifth fifth fifth fifth fifth fifth"
                "sixth sixth sixth sixth sixth sixth seventh seventh seventh seventh seventh seventh"
                "sixth sixth sixth sixth sixth sixth seventh seventh seventh seventh seventh seventh"
                "eighth eighth eighth eighth eighth eighth eighth eighth eighth eighth eighth eighth"
                "eighth eighth eighth eighth eighth eighth eighth eighth eighth eighth eighth eighth";
        }
        @media screen and (max-width: 767px) {
            grid-template-areas:
                "first first first first first first first first first first first first"
                "second second second second second second second second second second second second"
                "third third third third third third third third third third third third"
                "fourth fourth fourth fourth fourth fourth fourth fourth fourth fourth fourth fourth"
                "fifth fifth fifth fifth fifth fifth fifth fifth fifth fifth fifth fifth"
                "sixth sixth sixth sixth sixth sixth sixth sixth sixth sixth sixth sixth"
                "seventh seventh seventh seventh seventh seventh seventh seventh seventh seventh seventh seventh"
                "eighth eighth eighth eighth eighth eighth eighth eighth eighth eighth eighth eighth";
        }
    }
    .first {
        grid-area: first;
        background: #f4f6fb;
        border-radius: 1.875rem;
        -webkit-border-radius: 1.875rem;
        -moz-border-radius: 1.875rem;
        -ms-border-radius: 1.875rem;
        -o-border-radius: 1.875rem;
        img {
            border-top-left-radius: 1.875rem;
            border-top-right-radius: 1.875rem;
        }
        &__body {
            padding: 1.875rem 1.875rem 2.5rem 1.875rem;
            @media screen and (max-width: 575px) {
                padding: 1.25rem 1.5625rem 1.25rem 1rem;
            }
        }
    }
    .second {
        grid-area: second;
        background: #f4f6fb;
        padding: 2.5rem 1.875rem;
        border-radius: 1.875rem;
        -webkit-border-radius: 1.875rem;
        -moz-border-radius: 1.875rem;
        -ms-border-radius: 1.875rem;
        -o-border-radius: 1.875rem;
    }
    .third {
        grid-area: third;
        background: #d6fcc3;
        padding: 2.5rem 1.875rem;
        border-radius: 1.875rem;
        -webkit-border-radius: 1.875rem;
        -moz-border-radius: 1.875rem;
        -ms-border-radius: 1.875rem;
        -o-border-radius: 1.875rem;
    }
    .fourth {
        grid-area: fourth;
        background: #f4f6fb;
        padding: 2.75rem 1.875rem 2.75rem 1.875rem;
        border-radius: 1.875rem;
        -webkit-border-radius: 1.875rem;
        -moz-border-radius: 1.875rem;
        -ms-border-radius: 1.875rem;
        -o-border-radius: 1.875rem;
    }
    .fifth {
        display: flex;
        grid-area: fifth;
        background: #e6edff;
        border-radius: 1.25rem;
        -webkit-border-radius: 1.25rem;
        -moz-border-radius: 1.25rem;
        -ms-border-radius: 1.25rem;
        -o-border-radius: 1.25rem;
        img {
            padding: 0.8125rem 1.875rem 0.8125rem 0.75rem;
            @media screen and (max-width: 991px) {
                padding: 6.8125rem 1.875rem 5.8125rem 0.75rem;
            }
            @media screen and (max-width: 767px) {
                padding: 0.8125rem 1.875rem 0 0.75rem;
            }
        }
        &__body {
            padding: 2.5rem 1.875rem;
            @media screen and (max-width: 575px) {
                padding: 1.25rem 1rem 1.25rem 1rem;
            }
        }
        @media screen and (max-width: 767px) {
            flex-direction: column-reverse;
            align-items: center;
        }
    }
    .sixth {
        grid-area: sixth;
        background: #f4f6fb;
        padding: 2.75rem 1.875rem 2.75rem 1.875rem;
        border-radius: 1.875rem;
        -webkit-border-radius: 1.875rem;
        -moz-border-radius: 1.875rem;
        -ms-border-radius: 1.875rem;
        -o-border-radius: 1.875rem;
    }
    .seventh {
        grid-area: seventh;
        background: #fadee0;
        padding: 2.5rem 1.875rem 2.1875rem 1.875rem;
        border-radius: 1.875rem;
        -webkit-border-radius: 1.875rem;
        -moz-border-radius: 1.875rem;
        -ms-border-radius: 1.875rem;
        -o-border-radius: 1.875rem;
        .cases__subtitle {
            margin-bottom: 1.25rem;
        }
    }
    .eighth {
        display: flex;
        grid-area: eighth;
        border-radius: 1.25rem;
        -webkit-border-radius: 1.25rem;
        -moz-border-radius: 1.25rem;
        -ms-border-radius: 1.25rem;
        -o-border-radius: 1.25rem;
        img {
            height: 100%;
            border-top-right-radius: 1.25rem;
            border-bottom-right-radius: 1.25rem;
            @media screen and (max-width: 767px) {
                width: 100%;
                border-top-right-radius: 0;
                border-bottom-left-radius: 1.25rem;
            }
        }
        &__body {
            position: relative;
            z-index: 1;
            width: 52%;
            background: #f4f6fb;
            padding: 2.5rem 3.125rem 2.5rem 1.875rem;
            border-radius: 1.25rem;
            margin-right: -20px;
            @media screen and (max-width: 1399px) {
                width: 70%;
            }
            @media screen and (max-width: 767px) {
                width: 100%;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }
}
.calc {
    &__help-svg {
        width: 1.5rem;
        height: 1.5rem;
    }
    &__close-svg {
        width: 0.5625rem;
        height: 0.5625rem;
        margin-right: 0.8125rem;
        margin-bottom: 2px;
    }
    &__header {
        margin-bottom: 3.75rem;
        @media screen and (max-width: 767px) {
            margin-bottom: 1.875rem;
        }
    }
    &__title {
        font-weight: 500;
        font-size: 2.25rem;
        line-height: 2.625rem;
        margin: 0 6.75rem 0 0;
        @media screen and (max-width: 767px) {
            margin-bottom: 1.25rem;
        }
        @media screen and (max-width: 575px) {
            font-size: 1.375rem;
            line-height: 1.625rem;
        }
    }
    &__subtitle {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.75rem;
        color: #1c1c1c;
        margin-bottom: 1.5rem;
    }
    .collapse {
        position: relative;
        z-index: 1;
        margin-bottom: -2.5rem;
    }
    &__body {
        background: var(--white);
        padding: 1.875rem;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
        border-radius: 0.625rem;
        -webkit-border-radius: 0.625rem;
        -moz-border-radius: 0.625rem;
        -ms-border-radius: 0.625rem;
        -o-border-radius: 0.625rem;
    }
    &__input {
        padding: 0.875rem 0 1.125rem 1rem;
    }
    &__input:focus {
        box-shadow: 0 0 0 0.1rem var(--blue);
    }
    &__result:disabled {
        font-size: 1.5rem;
        line-height: 2rem;
        background: transparent;
        padding-left: 0;
    }
    &__warning {
        color: var(--blue);
        padding: 1.875rem 0 0 0;
    }
    &__info {
        display: none;
    }
    &__btn-total {
        @media screen and (max-width: 575px) {
            width: 100%;
        }
    }
    &__reset {
        background: transparent;
        font-size: 1rem;
        line-height: 1.25rem;
        color: #8c94a8;
        @media screen and (max-width: 575px) {
            width: 100%;
        }
        &:hover {
            color: #7c818b;
        }
    }
    &__bottom {
        margin-top: -6.25rem;
        @media screen and (max-width: 767px) {
            margin-top: 0;
        }
    }
}
.calc__form .form-label {
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #8c94a8;
    margin-bottom: 0.5rem;
}
.answers {
    background: var(--grey);
    padding: 4.375rem 0 4.375rem;
    @media screen and (max-width: 575px) {
        padding: 1.25rem 0 1.25rem;
    }
    &__main {
        align-items: center;
    }
    &__title {
        font-weight: 500;
        font-size: 2.25rem;
        line-height: 2.625rem;
        margin-bottom: 2.5rem;
        @media screen and (max-width: 575px) {
            font-size: 1.375rem;
            line-height: 26px;
            margin-bottom: 1.25rem;
        }
    }
    &__subtitle {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.5rem;
        margin-bottom: 0.75rem;
        @media screen and (max-width: 575px) {
            font-size: 1rem;
            line-height: 1.25rem;
        }
    }
    &__lists {
        margin-bottom: 1.875rem;
    }
    &__lists li::marker {
        color: var(--blue);
    }
    &__lists li,
    &__text {
        font-size: 1rem;
        line-height: 1.25rem;
        color: #6b6b7a;
        @media screen and (max-width: 575px) {
            font-size: 0.875rem;
            line-height: 1.125rem;
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: end;
        @media screen and (max-width: 991px) {
            flex-direction: column;
            align-items: center;
        }
    }
}
.information {
    text-align: center;
    padding: 4.375rem 0 4.375rem;
    &__text {
        font-size: 1rem;
        line-height: 1.25rem;
        color: #8c94a8;
    }
}

.icon {
    fill: #007bfb;
    width: 20px;
    height: 20px;
    margin: 0.5em;
}
